@model Models.AiringMovie



<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../../../favicon.ico">

    <title>Checkout example for Bootstrap</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/checkout/">

    <!-- Bootstrap core CSS -->
    <link href="~/lib/bootstrap/dist/css/Transaction/bootstrap-transaction-min.css" rel="stylesheet" />
    <link href="~/lib/bootstrap/dist/css/MovieDetail/movie-detail-bootstrap.css" rel="stylesheet" type="text/css">
    <link href="~/lib/bootstrap/dist/css/MovieDetail/movie-detail-style.css" rel="stylesheet" type="text/css" media="all">

    <!-- Custom styles for this template -->
    <link href="~/lib/bootstrap/dist/css/Transaction/form-validation.css" rel="stylesheet" />
</head>

<body class="bg-light">

    <div class="container">


        <div class="row">
            <div class="col-md-4 order-md-2 mb-4">
                <div class="movie-pic" style="width: 65%">
                    <a><img src=@Model.Movie.Poster alt=""></a>
                </div>
                <div class="review-info">
                    <a class="span">@Model.Movie.Title</a>
                    <div class="clearfix"></div>
                    <div class="clearfix"></div>
                    <p class="info">Cast:&nbsp;@string.Join(", ", @Model.Movie.Cast)</p>
                    <p class="info">Genres:&nbsp;@string.Join(", ", @Model.Movie.Genres)</p>
                    <p class="info">DURATION:&nbsp; @Model.Movie.Runtime</p>
                </div>
            </div>
            <div class="col-md-8 order-md-1">
                @*plaats kiezen*@
                <body>
                    <div id="messagePanel" class="messagePanel">

                    </div>

                </body>
            </div>
        </div>

        <footer class="my-5 pt-5 text-muted text-center text-small">
            <p class="mb-1">© 2017-2018 Company Name</p>
            <ul class="list-inline">
                <li class="list-inline-item"><a href="#">Privacy</a></li>
                <li class="list-inline-item"><a href="#">Terms</a></li>
                <li class="list-inline-item"><a href="#">Support</a></li>
            </ul>
        </footer>
    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
    <script src="~/lib/bootstrap/dist/js/Transaction/popper.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/Transaction/bootstrap.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/Transaction/holder.min.js"></script>
    <script>
        // Example starter JavaScript for disabling form submissions if there are invalid fields
        (function () {
            'use strict';

            window.addEventListener('load', function () {
                // Fetch all the forms we want to apply custom Bootstrap validation styles to
                var forms = document.getElementsByClassName('needs-validation');

                // Loop over them and prevent submission
                var validation = Array.prototype.filter.call(forms, function (form) {
                    form.addEventListener('submit', function (event) {
                        if (form.checkValidity() === false) {
                            event.preventDefault();
                            event.stopPropagation();
                        }
                        form.classList.add('was-validated');
                    }, false);
                });
            }, false);
        })();
    </script>


</body>
</html>



<head>
    <link href="~/lib/bootstrap/dist/css/Transaction/bootstrap-transaction.css" rel="stylesheet" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>



    <script>

        @{
            var seatingValue = new List<string>();
            int seatPosition = 0;
            string toAddString = "";

            foreach (var seat in Model.Room.Seats)
            {
                toAddString = "<div class='seat available'></div>";
                seatingValue.Add(toAddString);

                seatPosition++;

                if (seatPosition == @Model.Room.SeatsPerRow)
                {
                    toAddString = "<div class='clearfix'></div>";
                    seatingValue.Add(toAddString);
                    seatPosition = 0;
                }


            }
            string htmlCode = string.Join(" ", seatingValue);

}
        //Note:In js the outer loop runs first then the inner loop runs completely so it goes o.l. then i.l. i.l .i.l .i.l. i.l etc and repeat
        window.onload = function () {
            createseating("@Html.Raw(htmlCode)");
        };
        function createseating(htmlCode) {


            /*var seatingValue = [];
            for (var i = 0; i < ; i++) {

                for (var j = 0; j < 10; j++) {
                    var seatingStyle = "<div class='seat available'></div>";
                    seatingValue.push(seatingStyle);

                    if (j === 9) {
                        console.log("hi");
                        var seatingStyle = "<div class='clearfix'></div>";
                        seatingValue.push(seatingStyle);



                    }
                }
            }*/
            $('#messagePanel').html(htmlCode);

            $(function () {
                $('.seat').on('click', function () {


                    if ($(this).hasClass("selected")) {
                        $(this).addClass("unavailable");
                    } else {
                        $(this).addClass("selected");
                    }

                });

                $('.seat').mouseenter(function () {
                    $(this).addClass("hovering");

                    $('.seat').mouseleave(function () {
                        $(this).removeClass("hovering");

                    });
                });


            });

        };

    </script>
</head>