@model Models.AiringMovie
@Html.AntiForgeryToken()

@{

}

<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../../../favicon.ico">

    <title>Checkout example for Bootstrap</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/checkout/">

    <!-- Bootstrap core CSS -->
    <link href="~/lib/bootstrap/dist/css/Transaction/bootstrap-transaction-min.css" rel="stylesheet" />
    @*<link href="~/lib/bootstrap/dist/css/MovieDetail/movie-detail-bootstrap.css" rel="stylesheet" type="text/css">*@
    <link href="~/lib/bootstrap/dist/css/MovieDetail/movie-detail-style.css" rel="stylesheet" type="text/css" media="all">

    <!-- Custom styles for this template -->
    <link href="~/lib/bootstrap/dist/css/Transaction/form-validation.css" rel="stylesheet" />
</head>

<body class="bg-light">

    <div class="container">


        <div class="row">
            <div class="col-md-3 order-md-2 mb-4">
                <div class="movie-pic" style="width: 65%">
                    <a><img src=@Model.Movie.Poster alt=""></a>
                </div>
                <div class="review-info">
                    <a class="span">@Model.Movie.Title</a>
                    <div class="clearfix"></div>
                    <div class="clearfix"></div>
                    <p class="info">Actors:&nbsp;@string.Join(", ", @Model.Movie.Actors)</p>
                    <p class="info">Genre:&nbsp;@string.Join(", ", @Model.Movie.Genre)</p>
                    <p class="info">DURATION:&nbsp; @Model.Movie.Runtime</p>
                </div>
            </div>
            <div class="col-md-9 order-md-1">
                @*plaats kiezen*@
                <body>
                    <div id="messagePanel" class="messagePanel">

                    </div>
                    <div>
                        <label>Email Address:</label>
                        <input id="EmailAddress" />
                        <p id="validationText" style="color: red">Invalid email address</p>
                    </div>
                    <button id="saveSelection" style="margin: 5px;">Pay!</button>
                    @*onclick="location.href = '@Url.Action("Index", "Movie")'"*@
                </body>
            </div>
        </div>
    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
    <script src="~/lib/bootstrap/dist/js/Transaction/popper.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/Transaction/bootstrap.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/Transaction/holder.min.js"></script>
    <script>
        // Example starter JavaScript for disabling form submissions if there are invalid fields
        (function () {
            'use strict';

            window.addEventListener('load', function () {
                // Fetch all the forms we want to apply custom Bootstrap validation styles to
                var forms = document.getElementsByClassName('needs-validation');

                // Loop over them and prevent submission
                var validation = Array.prototype.filter.call(forms, function (form) {
                    form.addEventListener('submit', function (event) {
                        if (form.checkValidity() === false) {
                            event.preventDefault();
                            event.stopPropagation();
                        }
                        form.classList.add('was-validated');
                    }, false);
                });
            }, false);
        })();
    </script>


</body>

</html>



<head>
    <link href="~/lib/bootstrap/dist/css/Transaction/bootstrap-transaction.css" rel="stylesheet" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="~/js/regexEmailValidation.js"></script>


    <script>

        @{
            var seatingValue = new List<string>();
            int seatPosition = 0;
            int seatNumber = 1;
            string toAddString = "";

            foreach (var seat in Model.Room.Seats)
            {
                toAddString = seat.IsOccupied ? $"<div id = '{seatNumber}' class='seat unavailable'></div>" : $"<div id = '{seatNumber}' class='seat available'></div>";
                seatingValue.Add(toAddString);
                seatNumber++;

                seatPosition++;

                if (seatPosition == @Model.Room.SeatsPerRow)
                {
                    toAddString = "<div class='clearfix'></div>";
                    seatingValue.Add(toAddString);
                    seatPosition = 0;
                }


            }
            string htmlCode = string.Join(" ", seatingValue);

        }

        $(function () {
            $('#saveSelection').on('click', getAllSelectedSeats);
        });
        //Note:In js the outer loop runs first then the inner loop runs completely so it goes o.l. then i.l. i.l .i.l .i.l. i.l etc and repeat
        window.onload = function () {
            createseating("@Html.Raw(htmlCode)");
            $('#saveSelection').prop('disabled', true);
            document.getElementById('validationText').hidden = true;
        };

        function getAllSelectedSeats() {
            var selectedSeats = document.getElementsByClassName("seat selected");
            var ids = [];
            console.log(selectedSeats[0]);

            for (var i = 0; i < selectedSeats.length; i++) {
                ids.push(selectedSeats[i].id);
            }
            console.log(ids);
            console.log(JSON.stringify(ids));
            var controllerPath = '@Url.Action("SaveReservation", "Transaction")';

            var verificationToken = $("input[name='__RequestVerificationToken']").val();

            var reservation = {
                "SeatNumbers": ids,
                "AiringMovieId": @Model.Id
            }
            if (confirm('Are you sure your e-mail address is ' +
                document.getElementById("EmailAddress").value +
                ' . Press OK to continue, press CANCEL to cancel your reservation.')) {
                $.ajax({
                    url: controllerPath,
                    data: JSON.stringify(reservation),
                    type: "POST",
                    headers: {
                        "RequestVerificationToken": verificationToken
                    },
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function() {
                        console.log('Succes!');
                    },
                    error: function() {
                        console.log('Error');
                    }
                });
            }

        }

        function createseating(htmlCode) {

            $('#messagePanel').html(htmlCode);

            $(function () {
                $('.seat').on('click', function () {

                    var mailAddress = document.getElementById("EmailAddress").value;
                    console.log(mailAddress);

                    if ($(this).hasClass("selected")) {
                        $(this).removeClass("selected");
                    } else {
                        $(this).addClass("selected");
                    }

                    if (document.getElementsByClassName("seat selected").length > 0 && validateEmail(mailAddress)){
                        $('#saveSelection').prop('disabled', false);
                        console.log("seat selected, button enabled");
                        console.log(document.getElementsByClassName("seat selected").length);
                        document.getElementById('validationText').hidden = true;
                    } else {
                        $('#saveSelection').prop('disabled', true);
                        console.log("no seats selected, button disabled");
                        console.log(document.getElementsByClassName("seat selected").length);
                    }

                });

                $('.seat').mouseenter(function () {
                    $(this).addClass("hovering");

                    $('.seat').mouseleave(function () {
                        $(this).removeClass("hovering");

                    });
                });


            });

            $(function () {
                $('#EmailAddress').on('input', function () {

                        var mailAddress = document.getElementById("EmailAddress").value;
                        console.log('1 ' + mailAddress);

                    if (validateEmail(mailAddress)) {

                        if (document.getElementsByClassName("seat selected").length > 0) {
                            $('#saveSelection').prop('disabled', false);
                            console.log("seat selected, button enabled");
                        }
                            document.getElementById('validationText').hidden = true;
                    }
                    else
                    {
                            $('#saveSelection').prop('disabled', true);
                            console.log("no seats selected, button disabled");
                            document.getElementById('validationText').hidden = false;
                    }
                    });
            });
        };

    </script>
</head>