@model Models.Movie

<div class="col-lg-4 col-md-6 mb-4">
    <div class="card h-100">
        <a href="@Url.Action("MovieDetails", "Movie", @Model)"><img class="card-img-top" img src=@Model.Poster alt=""></a>
        <div class="card-body">
            <h5 class="card-title">
                    <a href="@Url.Action("MovieDetails", "Movie", @Model)">@Model.Title</a>
            </h5>
            <p class="card-text"> @string.Join(", ", @Model.Genres)</p>
        </div>
    </div>
</div>